{% extends 'i_Movie/basic.html' %}

{% block css%}
<style>
    .card {
        box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
    }

    .card-img-top {
        width: 18rem;
        height: 400px;
    }

    .carousel-item {
        box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
    }

    a {
        color: #161617;
        text-decoration: unset;
    }
</style>
{% endblock%}
{% block title%}
<title>iMovie</title>
{% endblock%}
{% block body%}

{% load static %}
<div class="container">
    <hr>
    <div class="container my-2">
        <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    style="background-color: blue;"></li>
                {% for i in data %}
                <li data-target="#carouselExampleCaptions" data-slide-to="{{i}}" style="background-color: blue;">
                </li>
                {% endfor%}
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'i_Movie/images/crausal1.jpg' %}" class="d-block w-100" alt="..."
                        style="height: 600px; width: max-content;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'i_Movie/images/crausal2.jpeg' %}" class="d-block w-100" alt="..."
                        style="height: 600px; width: max-content;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'i_Movie/images/crausal3.jpg' %}" class="d-block w-100" alt="..."
                        style="height: 600px; width: max-content;">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'i_Movie/images/crausal4.jpg' %}" class="d-block w-100" alt="..."
                        style="max-height: 600px; width: max-content;">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for mv in movies %}
        <div class="col m-2">
            <a href="{% url 'details' mv.id %}">
                <div class="card" style="width: 18rem;">
                    <img src='{{mv.image.url}}' class="card-img-top" alt="..." width="200px" height="300px">
                    <div class="card-body">
                        <h5 class="card-title">{{mv.name}}</h5>
                        <p class="card-text">Made By:{{mv.movie_director}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor%}
    </div>
    <hr>
</div>
{% endblock%}